        <!--Footer CONTAINER-->
        <section class="section_footer">
            <!--Footer-->
            <article class="info_footer">
                <h3>Acerca de</h3>
                <p>Quiénes Somos</p>
                <p>Política de Privacidad</p>
                <p>Términos y Condiciones</p>
            </article>
            <article class="info_footer">
                <h3>Ayuda</h3>
                <p>Preguntas Frecuentes</p>
                <div><i class="fa-solid fa-location-dot"></i>Sucursales</div>
                <p>Entregas</p>
                <p>Cambios</p>
            </article>
            <article class="info_footer">
                <h3>Redes Sociales</h3>
                <div><i class="fa-brands fa-facebook"></i>Facebook</div>
                <div><i class="fa-brands fa-instagram-square"></i>Instagram</div>
                <div><i class="fa-brands fa-twitter"></i>Twitter</div>
            </article>
            <article class="info_footer">
                <h3>Centro de Atención al Cliente</h3>
                <div><i class="fa-solid fa-envelope"></i>Contacto</div>
                <div><i class="fa-brands fa-whatsapp-square"></i>WhatsApp</div>
                <div><i class="fa-solid fa-phone"></i>0800-666-2022</div>
            </article>
        </section>
        <p>Copyright &copy; 2022 Digital Shirts S.R.L</p>