<div>   
    <!-- Header TOP (Logo, Search-Bar, Text) -->
    <section class="up-section">
    <!-- Header TOP LOGO -->
    <div class="up-section-img_Logo">
        <img src="img/logoDS22.jpeg" alt="Logo Digital Shirts">
    </div>
    <!-- Header TOP SEARCH-BAR -->
    <div class="top-container__search-bar">
        <button class="search-bar__btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input class="search-bar__input" type="text" placeholder="Buscar camiseta!">
    </div>
    <div class="bottom-container__top-right-menu">
        <ul>
            <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
            <li><a href="/favorite"><i class="fa-solid fa-heart"></i></a></li>
            <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
    </section>
    <!-- Header BOTTOM MENU -->
    <section class="bottom-container__center-menu">
    <div class="botom-container__center-menu-option">
        <ul>

            <li><a class="bottom-selection" href="#">Categorías</a></li>
            <li><a class="bottom-selection" href="#">Hombre</a></li>
            <li><a class="bottom-selection" href="#">Mujer</a></li>
            <li><a class="bottom-selection" href="#">Infantil</a></li>
            <li><a class="bottom-selection" href="#">Marcas</a></li>
            <li><a class="bottom-selection" href="#">Ofertas</a></li>
        </ul>
    </div>
    </section>
    <!-- Header HAMBURGER MENU -->
    <section class="hamburger-container">
    <nav class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </nav>
</section>
</div>