<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("./partials/head.ejs")  %>
    
</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")  %>
        
    </header>

    <main>
        <div>
        <h3>Mi Carrito</h3>
        <p>"" Productos</p>
        </div>
        <div>
        <p><a href="/">Seguir Comprando</a></p>
        </div>
        <article class="info-cart" >
            <div class="cart-img">
            <img src="img/camisetaColombia.jpg" alt="Producto" >
            </div>
            <div class="info-cart1">
            <p class="info-1">Productos(1)</p>
            <p class="info-2">camiseta de Colombia</p>
            <p>Total $2.300</p>
            <i class="fa-solid fa-trash-can"></i>
            </div>
        </article>
        <section class="envio">
            <div>Calcula el costo de envío <i class="fa-solid fa-truck"></i></div>
            <div>
            <button>Calcular</button>
            <input type="number" id="cp" name="cp" placeholder="Código Postal">
            </div>
            <div>Costo de Envío $500</div>
            <div>Subtotal $2300</div>
            <div>Total $2800</div>
            <button>Comprar</button>
        </section>
    </main>

    <footer class="footer">

        <%- include ("./partials/footer.ejs")  %>

    </footer>
    
</body>
</html>