<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("./partials/head.ejs")  %>

</head>
<body>

    <header>
        <%- include ("./partials/header.ejs")  %>

    </header>

    <main class="main-register">
        <div class="caja-register">
          <form  method="POST" action="/products/saveProduct" class="formulario-completo">
                    <h3>AGREGAR PRODUCTO</h3>
                  <label for="titulo"></label>
                  <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="input-barras" required>
                
                  <label for="equipo" class="nombre-usuario"></label>
                  <input type="text" name="equipo" id="equipo" placeholder="equipo" class="input-barras" >
                
                  <label for="precio"></label>
                  <input type="number" name="precio" id="precio" placeholder="Precio" class="input-barras" required>

                 <label class="titulo-avatar" for="portada">Fotos de la Camiseta</label>
                 <input type="file" name="fotoCamiseta" class="input-avatar" id="fotoCamiseta">

                 <div   class="textDescripcion">
                   <label for="descripcion"></label>
                    <textarea
                    id="descripcion"
                    name="descripcion"
                    rows="20"
                    cols="130"
                    placeholder=Descripción
                  ></textarea> 
                 </div>                 
            
              <div class="div-botones-register">
                <button type="submit" class="boton-enviar">Enviar</button>
              <button type="reset" class="boton-borrar">Borrar</button>
            </div>
   
          </form>
        </div>
      </main>

      <footer class="footer">

        <%- include ("./partials/footer.ejs")  %>

    </footer>

</body>
</html>