<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include ("./partials/head.ejs")  %>

</head>

<body>
    <header>
        
        <%- include ("./partials/header.ejs")  %>

    </header>

    <main>
        <section class="register-title">
            <a class="session-title" href="login">Iniciar Sesión</a>
            <p class="session-register">Registrarme<p>
        </section>        
        <section class="register-data">
        <form action="/" method="POST">
        <div class="register-type">
            <label for="name">*Nombre</label><br>
            <input type="text" id="name" name="name" placeholder="">
        </div>
        <div class="register-type">
            <label for="surname">*Apellido</label><br>
            <input type="text" id="" name="surname" placeholder="">
        </div>
        <div class="register-type">
            <label for="email">*Email</label><br>
            <input type="email" id="user-email" name="user-email" placeholder="" value="">
        </div>
        <div class="register-type">
            <label for="password">*Contraseña (mínimo 8 caracteres)</label><br>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" value="">
        </div>
        <div class="register-type">
            <label for="repeat-password">*Confirmar Contraseña</label><br>
            <input type="password" id="repeat-password" name="repeat-password" placeholder="Repita su contraseña" value="">
        </div>
        <div class="register-type">
            <input type="checkbox" id="agreement" name="agreement" value="">
            <label for="agreement"><a href="#">Póliticas de Privacidad</a> y <a href="#">Términos y Condiciones</a></label><br>
            
        </div>
        <div class="register-type">
            <input class="submit-btn"  type="submit" value="Crear mi cuenta">
        </div>
        </form>
        </section>
    </main>

    <footer class="footer">
        
        <%- include ("./partials/footer.ejs")  %>
        
    </footer>  
</body>
</html>